<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <title>Note-Manager Notificatiom</title>
	
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
	
	    <style>
	        body {
	            font-family: 'Roboto', sans-serif;
	            font-size: 48px;
	        }
	    </style>
	</head>
	<body style="margin: 0; padding: 0;">
	
	    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
	        <tr>
	            <td align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
	                <img src="cid:logo.png" alt="https://memorynotfound.com" style="display: block;" />
	            </td>
	        </tr>
	        <tr>
	            <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
	                <p th:text="${'Dear ' + name}"></p>
	                <br/>
					<p th:text="${'Note ' + operation}" ></p>
					<br/>
					<p th:text="${'ID :' + noteId}" ></p>
					<br/>
					<p>Content:</p>
					<p th:text="${content}" ></p>
					<br/>
	            </td>
	        </tr>
	        <tr>
	            <td bgcolor="#777777" style="padding: 30px 30px 30px 30px;">
					<p th:text="${signature}"></p>
					<p th:text="${location}"></p>
	            </td>
	        </tr>
	    </table>
	</body>
</html>